@using Microsoft.AspNetCore.Identity
@using CyberProject.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Landing Zero Free Bootstrap Theme with Video</title>
    <meta name="description" content="This is a free Bootstrap landing page theme created for BootstrapZero. Feature video background and one page design." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="~/Landing Page/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Landing Page/css/animate.min.css" />
    <link rel="stylesheet" href="~/Landing Page/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/Landing Page/css/styles.css" />
</head>
<body>

    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive wow flipInX">Welcome To PayPortal</h1>
                <h4>Click the button below to get started.</h4>
                <hr>
                <a asp-controller="Account" asp-action="LogOut" class="btn btn-primary btn-xl">Logout</a> &nbsp;
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
                {
                    <a asp-controller="User" asp-action="Profile" class="btn btn-primary btn-xl page-scroll">View Profile</a>
                }
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <a asp-controller="User" asp-action="ListUsers" class="btn btn-primary btn-xl page-scroll">View Employee Management System</a>
                }
            </div>
        </div>
    </header>

    <!--scripts loaded here -->
    <script src="~/Landing Page/js/jquery.min.js"></script>
    <script src="~/Landing Page/js/bootstrap.min.js"></script>
    <script src="~/Landing Page/js/jquery.easing.min.js"></script>
    <script src="~/Landing Page/js/jquery.easing.min.js"></script>
    <script src="~/Landing Page/js/wow.js"></script>
    <script src="~/Landing Page/js/scripts.js"></script>
</body>
</html>