@model CyberProject.Entities.User
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="tab-content" style="padding-top: 100px;">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Create User</h5>
                    <form asp-controller="User" method="post">
                        <input hidden asp-for="Id" />
                        <div class="position-relative row form-group">
                            <label asp-for="DepartmentID" class="col-sm-2 col-form-label">Department</label>
                            <div class="col-sm-10">
                                <select class="mb-2 form-control" asp-for="DepartmentID" asp-items="@ViewBag.dept">
                                    <option>Department</option>
                                </select>
                            </div>
                            <span asp-validation-for="DepartmentID"></span>
                        </div>
                        <div class="position-relative row form-group">
                            <label asp-for="gradeID" class="col-sm-2 col-form-label">Grade</label>
                            <div class="col-sm-10">
                                <select class="mb-2 form-control" asp-for="gradeID" asp-items="@ViewBag.grade">
                                    <option>Grade</option>
                                </select>
                            </div>
                            <span asp-validation-for="gradeID"></span>
                        </div>

                        <div class="position-relative row form-check">
                            <div class="col-sm-10 offset-sm-2">
                                <button asp-action="Edit" class="btn btn-secondary">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 2
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-footer-right">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <div class="badge badge-success mr-1 ml-0">
                                    <small>NEW</small>
                                </div>
                                Footer Link 4
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
