@model CyberProject.Models.CreateRoleModel
@{
    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="tab-content" style="padding-top: 100px; padding-left: 50px;">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Create Role</h5>
                    <form asp-controller="Administrator" method="post">
                        <div class="position-relative row form-group">
                            <label asp-for="RoleName" class="col-sm-2 col-form-label">Role Name</label>
                            <div class="col-sm-10"><input asp-for="RoleName" placeholder="Role Name" type="text" class="form-control"></div>
                            <span asp-validation-for="RoleName"></span>
                        </div>

                        <div class="position-relative row form-check">
                            <div class="col-sm-10 offset-sm-2">
                                <button asp-action="CreateRole" class="btn btn-secondary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 2
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-footer-right">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                Footer Link 3
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <div class="badge badge-success mr-1 ml-0">
                                    <small>NEW</small>
                                </div>
                                Footer Link 4
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>